{% extends 'base.html' %}

{% block content %}

<div id="significance_container">
    <div class="significance_title is-size-2">
        Significance of Attribute Tracking
    </div>
    <div class="columns">
        <div class="column">
            <div id="fitness_panel" class="significance_panel">
                <p class="is-size-4">Exercise</p>
                <ul>
                    <li>Research suggests that regular physical activity can significantly improve mental health and lessen symptoms of depression, anxiety and stress. In fact, just 20–40 min of aerobic exercise can improve anxiety and mood for several hours.</li>
                    <li>Release of dopamine, serotonin, and noradrenaline which boosts mood and aids alertness and concentration.</li>
                </ul>
            </div>
        </div>
        <div id="nutrition_panel" class="column">
            <div class="significance_panel">
                <p class="is-size-4">Nutrition</p>
                <ul>
                    <li>Proper nutrtion includes avoiding undereating and overeating, and for others may include counting calories for their fitness goals.</li>
                    <li>Undereating can lead to physical and mental fatigue, while overeating can result in obesity and its associated health risks.</li>
                    <li>Good food can trigger the release of dopamine.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="significance_panel">
                <p class="is-size-4">Productivity</p>
                <ul>
                    <li>Working towards a goal and attaining these goals releases dopamine, both as a motivator to tackle a task but as a reward upon completion.</li>
                    <li>Start behavior change with modest goals and reward even the smallest steps toward them. New behaviors emerge slowly because they are usually working against the power of prior dopamine behavioral reinforcement.</li>
                    <li>A behavior will hold greater subjective value to the degree that it is related to one’s core values and sense of self. Identity-linked goals are more likely to be successful than identity-irrelevant or identity-counter ones.</li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="significance_panel">
                <p class="is-size-4">Social</p>
                <ul>
                    <li>Adequate amounts of social support are associated with increases in levels of a hormone called oxytocin, which functions to decrease anxiety levels.</li>
                    <li>Social ties provide information and create norms that further influence health habits. Thus, in a variety of ways, social ties may influence health habits that in turn affect physical health and mortality.</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="columns">
        <div class="column">
            <div class="significance_panel">
                <p class="is-size-4">Sleep</p>
                <ul>
                    <li>Proper sleep reinforces the immune system and helps prevent weight gain.</li>
                    <li>It also reduces stress and irritability, improves mood, aids concentration and promotes social interaction.</li>
                </ul>
            </div>
        </div>
        <div class="column">
            <div class="significance_panel">
                <p class="is-size-4">Stress</p>
                <ul>
                    <li>Stress can trigger a variety of physical symptoms such as headaches, fatigue, upset stomach, or insomnia.</li>
                    <li>It can also lead to sadness, irritability, overeating or undereating, and social withdrawal.</li>
                    <li>Stress can be better managed with proper sleep, social support, and regular exercise.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="sources">
    <p class="is-size-4">References</p>
    <ul>
        <li>Exercise and Mental Health: Mikkelsen, Kathleen et al.</li>
        <li>https://www.mayoclinic.org/healthy-lifestyle/stress-management/in-depth/stress-symptoms/art-20050987</li>
        <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5854216/</li>
        <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3150158/</li>
        <li>https://www.mentalhelp.net/stress/socialization-and-altruistic-acts-as-stress-relief/</li>
        <li>https://health.gov/myhealthfinder/topics/everyday-healthy-living/mental-health-and-relationships/get-enough-sleep</li>
        <li>https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4061837/#:~:text=Dopamine%20(DA)%2C%20noradrenaline%20</li>

    </ul>
</div>

{% endblock %}